body{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
    background:grey;    
}
}
.box h1{
    color: azure;
    text-transform:uppercase;
    font-weight: 500px;
}
.box{
    width: 300px;
    padding:40px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: black;
    text-align: center;
}
.box input[type="text"], .box input[type="password"]{
 border: 0;
 background:none;
 margin:20px auto;
 text-align: center;
 border: 2px solid hsl(123, 89%, 49%);
 padding:14px 10px;
 width: 200px;
 outline:none;
 color: #eeff00;
 border-radius:24px;
 transition:0.25s;

}
.box input[type="text"]:focus, .box input[type="password"]:focus{
    width:300px;
    border-color: blue;
}
.box input[type="submit"]{
    border: 0;
    background:none;
    margin:20px auto;
    text-align: center;
    border: 2px solid rgb(223, 208, 9);
    padding:14px 40px;
    width: 200px;
    outline:none;
    color: aqua;
    border-radius:24px;
    transition:0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: greenyellow;
}
