<div>
        <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#about">About</a></li>
              </ul>
              
</div>
<div class="container-main">
    <h1 class="text-center text-primary">Fruit Names</h1>
    <ol class="list-group">
        <li class="list-item-group">Apple</li>
        <li class="list-item-group">banana</li>
        <li class="list-item-group">orage</li>
    </ol>
</div>