li {
    color: aqua;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bolder;
}
h1{
    text-align: center;
    color: red;
}
ol{
  list-style-type: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111;
}
